
.jumbotron {
    background-image: url("http://goo.gl/yq0a1T");
} 

h1 {
    float: center;
    font-family: cursive;
    text-align: center;
}

h3 {
    font-color: black;
    text-align: center;
        
}

a:link {
    color: white;
    font-size: 1.25em;
    text-decoration: none;
}

a:visited {
    color: white;
    text-decoration:none;
}

a:hover {
    color: white;
    font-size: 1.7em;
    text-decoration: none;
    font-weight: bold;
}
