<h2> Potential Cheaters in your class </h2> 

<table> 
    <tr> <td> Cheater1 </td> <td> Cheater2 </td> <td> Chance </td> </tr>
    <tr> <td> Cheater1 </td> <td> Cheater2 </td> <td> Chance </td> </tr>
</table>
