<link type="text/css" rel = "stylesheet" href="http://s3.amazonaws.com/codecademy-content/courses/ltp/css/shift.css"/>
<link type="text/css" rel = "stylesheet" href="http://s3.amazonaws.com/codecademy-content/courses/ltp/css/bootstrap.css"/>
<link  type="text/css" rel = "stylesheet" href ="/stylesheets/masterEntry.css"/> 
<div class="header">
    <div class="container">
        <h3>Enter Student Answers</h3>
        <h5 id="questionCounter">0 Questions Added So Far</h5>
    </div>
</div>
<div class="answers">
    <div class = "container">
    <input id="name" type="text" placeholder="Ex. John DeNero">
    <div class="answerRow">
        <input id="currAns" type="text" placeholder="Ex. A">
    </div>
    <div class="nextStep">
        <button id="nextStudent"><a href="/studentEntry">Enter Next Student</a></button>
        <button id="submitAll"><a href="/results">Submit</a></button> 
    </div>
    <table class="submittedAns" id="thetable">
    </table>
    <div id="clearButton">
        <button>Clear Answers</button>
    </div>
    </div> 
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="/javascripts/masterEntry.js"></script>


