
<link type="text/css" rel="stylesheet" href="/stylesheets/grade.css"/>


<div class="header">
    <div class="container">
        <h1>Enter Solutions</h1>
        <h3 id="questionCounter">0 Questions Added </h3>
    </div>
</div>
<div class="answers">   
    <div class="container" id="answersCont">
        <div class="answerRow">
            <form method="post" id="form">
                <input type="hidden" name="_csrf" value="{{csrfToken}}"/>
                <input type="hidden" name="solutionKey" id="solutionKey"/>
                <input type="testName" name="testName" required="required" placeholder="Ex. Compilers Test"/></br>
                <input id="currAns" type="text" placeholder="Ex. A"></br>

                <!-- <button id="submit"><a href="#"> Submit</a> </button> -->

                <input type="submit" id="submit"/>
            </form>
        </div>
    </div>
    <table class="submittedAns" id="thetable">
    </table>
    <div id="clearButton">
        <button id='clearAnswersButton'> Clear Answers</button>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="/javascripts/grade.js"></script>
<script> 
    window.onload = function() 
    {
        localStorage.clear();
    }
</script>
