<h1> Log into your Account </h1>

<form method="post">
  <input type="hidden" name="_csrf" value = "{{csrfToken}}"/>
  Email: <input type="email" name="email" required="required"/><br/>
  Password: <input type="password" name="password" required="required"/><br/>
  <input type="submit" class="submit"/>
</form>


