<link type="text/css" rel = "stylesheet" href="http://s3.amazonaws.com/codecademy-content/courses/ltp/css/shift.css"/>
<link type="text/css" rel = "stylesheet" href="http://s3.amazonaws.com/codecademy-content/courses/ltp/css/bootstrap.css"/>
<link  type="text/css" rel = "stylesheet" href ="/stylesheets/masterEntry.css"/> 

<div class="header">
    <div class="container">
        <div>
            <a href="/"><img class="home" src="/images/house.png"></img></a>
        </div>
        <h1>Enter Solutions</h1>
        <h3 id="questionCounter">0 Questions Added </h3>
    </div>
</div>
<div class="answers">
    <div class="container" id="answersCont">
        <div class="answerRow">
            <input id="currAns" type="text" autocomplete="off" placeholder="Ex. A">
            <a href="/studentEntry"><button id="submit" class="submit"> Submit </button></a>
        </div>
    </div>
    <table class="submittedAns" id="thetable">
    </table>
    <div id="clearButton">
        <button id='clearAnswersButton' class="submit"> Clear Answers</button>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="/javascripts/masterEntry.js"></script>
<script> 
    window.onload = function() 
    {
        localStorage.clear();
    }
</script>


