<div>
    <a href="/previousGrades"><img class="home" src="/images/house.png"></img></a>
</div>
<h1> {{title}} </h1>

<table>
	<thead>
		<tr> <td> Problem Number </td> <td>Solutions </td><td> Student Answer</td></tr>
	</thead>
	<tbody>
		{{{tableElements}}}
	</tbody>
</table>

