<div>
    <a href="/dashboard"><img class="home" src="/images/house.png"></img></a>
</div>
<h1> Tests </h1>
<table id="tests">

{{{tableElements}}}
</table>

<script src="/javascripts/previousGrades.js"></script>
