
<link  type="text/css" rel = "stylesheet" href ="/stylesheets/results.css"/> 
<div class = "header">
    <div>
        <a href="/dashboard"><img class="home" src="/images/house.png"></img></a>
    </div>
    <div class = "container">
            <h2> Results </h2>
    </div>
</div>
<div class = "grades">
    
    <div class = "container">
        <p id="solutions"> Insert solutions </p>
    </div>
    <div class = "student">
        <table id="nameGrades">
            <thead>
                <tr> <th colspan='2'> <h4>Student Grades</h4> </th></tr> 
                <tr> 
                    <th> Name </th>
                    <th> Grade </th>
                </tr>
            </thead>    
        </table>    
    </div>
</div>
<div class = "cheatBeat">
    <div class = "container"> 
        <div class = "cheaters">
            <table id="cheaterPair">
                <thead>
                    <tr> <th> <h4> Potential Cheating </h4> </th> </tr>
                    <tr> 
                        <th colspan="2"> Names </th>
                        <th> Probability </th>
                    </tr>
                </thead>    
            </table>  
        </div>
    </div>
</div>
<!-- <div class = "footer">
    <div class = "container">
        <ul id="foo" class="nav nav-tabs" style="border-bottom:0px"> 
            <li> <a href="#"> Summary </a></li>
            <li> <a href='#'> Save </a></li>
            <li> <a href="#"> Export </a></li>
        </ul>
    </div>
</div> -->

<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script> -->
<script src="/javascripts/results.js"></script>
