<h1>Dashboard</h1>
<p><a href="/logout"> logout </a> </p>
<p>
  Welcome, {{user.firstName}} {{user.lastName}}! 
</p>
<h2> What would you like to do? </h2>
<ul> 
    <li> <a href="/grade"> Grade a test </a> </li>
    <li> <a href="/previousGrades"> See previous test grades </a> </li>
    <li> <a href="/potCheaters"> See potential cheaters in your class </a> </li>
</ul>
