<!DOCTYPE html>
<html>
  <head>
    <title> CheatBeat|{{title}}</title>
    <link type="text/css" rel = "stylesheet" href="http://s3.amazonaws.com/codecademy-content/courses/ltp/css/bootstrap.css"/>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    {{#if error}}
    <h5> {{error}} </h5>
    {{/if}}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    {{{body}}}
  </body>
</html>
