<h1> Potential Cheaters in your class </h1> 

<table id="cheatTable"> 
    <thead> 
        <tr> <th colspan="2"> Cheater Pair </th> <th> Chance </th> </tr> 
    </thead>
    <tbody>
    <!-- <tr> <td> Cheater1 </td> <td> Cheater2 </td> <td> Chance </td> </tr> -->
    <!-- <tr> <td> Cheater1 </td> <td> Cheater2 </td> <td> Chance </td> </tr> -->
    {{{tableInfo}}}
    </tbody>
</table>
<!-- <p class="foo" id="more"> plz </p> -->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="/javascripts/potCheaters.js"></script>
